
.hidden {
  display: none;
}
 
.navbar-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.crop-text {
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

a {
  font-size: 14px;
  line-height: 20px;
  color:blue
}

a:hover {
  text-decoration: none;
}

.modal-backdrop {
  background-color: white
}

.modal-content {
  border-radius: 15px; 
}


.drop-area {
  /* width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
}

.custom-table-cell {
  width: 100%;
  grid-column-gap: 12px;
  padding: 5px 5px;
  display: flex;
}

.pointer-on-hover {
  cursor: pointer;
}

.content-center {
  margin: auto;
}

.btn-custom-primary {
  background-color: #3118d3;
  border: 1px solid #533de9;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.btn-light {
  border: 1px solid #dee2e6; /* Adjust the color as needed */
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #533de9 !important;
  border: 1px solid #7f56d9;
}

.btn-primary:hover {
  background-color: #3c22e2 !important;
}

